---
- name: Check for old config
  ansible.builtin.stat:
    path: /etc/dnsmasq.d/beaker.conf
  register: old_config

- name: Abort if old config exists
  assert:
    that:
      - old_config.stat.exists is false
    fail_msg: >
      You still have /etc/dnsmasq.d/beaker.conf file.  This is no longer used and will
      conflict with the new install.  Please remove it before proceeding.

- name: Stop tftp service, we use hooktftp from dci-lab container
  systemd:
    name: "{{ item }}"
    state: stopped
    enabled: false
  loop:
    - tftp.service
    - tftp.socket
  when: "'tftp.service' in services"

- name: Generate /etc/hosts
  lineinfile:
    dest: /etc/hosts
    line: '{{ item.value.ip_address }} {{ item.key.split(".")| first }} {{ item.key.split(".")| first }}.{{ domain }}'
  loop: "{{ q('dict', lab.system_inventory | default({})| combine({jumpbox: {'ip_address': machine_network_ip| default(local_repo_ip) }})) }}"

- name: Update provisioner.conf file
  template:
    src: provisioner.conf.j2
    dest: /etc/dnsmasq.d/provisioner.conf
  register: dns_conf_update

- name: Make sure dnsmasq is enabled
  ansible.builtin.systemd:
    name: dnsmasq
    state: started
    enabled: true

- name: Restart dnsmasq if any config files were changed
  ansible.builtin.systemd:
    name: dnsmasq
    state: restarted
  when: dns_conf_update.changed | default('false') | bool
